.experience {
    flex-grow: 1;
    padding: 60px 40px;
}
.experience-title {
    display: flex;
    align-items: center;
    font-size: 36px;
    line-height: 1.17;
    font-weight: 500;
    color: $primary-textcolor;;
    margin-bottom: 30px;

    &::before {
        content: "";
        margin-right: 10px;
        width: 20px;
        height: 4px;
        border-radius: 2px;
        background-color: $primary-textcolor;;
    }

}

.profile-description {
    padding: 10px 40px;
    font-size: 16px;
    line-height: 1.17;
    color: $secondary-text-color;
    margin-bottom: 50px;
    
}

.education-list {
    @extend %list;
}

.education-item:not(:last-child) {
    margin-bottom: 20px;
}

.education-subtitle, .experience-subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    padding-left: 20px;
    color: $primary-accent-color;
}

.education-wrap, .experience-wrap {
    display: flex;
    padding-left: 20px;
}

.goit-wrap {
    margin-bottom: 10px;
   
}

.education-period {
    margin-right: 10px;
    // padding-left: 20px;
}

.education-period, 
.education-description, 
.experience-description,
.experience-period {
    font-size: 16px;
    line-height: 1.17;
    color: $primary-bg-color;
}

.goit {
    display: inline-block;
    margin-right: 8px;
    color: $accent-color;
}


.experience-list {
    @extend %list;

    margin-bottom: 50px;
}

.experience-item:not(:last-child) {
    margin-bottom: 50px;

}
.experience-subtitle, .experience-period {
    margin-bottom: 10px;
    padding-left: 20px;
}
.experience-wrap {
    justify-content: space-between;
    margin-bottom: 10px;
}

.experience-company {
    margin-bottom: 15px;
    padding-left: 20px;
    font-weight: 500;
}

.experience-sublist {
    @extend %list;
    padding-left: 60px;
    list-style: square;
}

.goit-sublist {
    margin-top: 10px;
}
.experience-subitem {
    font-size: 15px;
    line-height: 1.12;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

}
