$primary-textcolor: #AFB1B8;
$secondary-text-color: #2F303A;
$address-color: rgba(255, 255, 255, 0.6);
$pseudo-color: rgba(255, 255, 255, 0.1);
$accent-color: #ff6b08;
$primary-bg-color: #757575;
$title-color:#212121;
$primary-white-color: #ffffff;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$secondary-bg-color: #AFB1B8;
$primary-accent-color: #003c5f;